@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    width: 90%;
    margin: 0px auto;
    padding: 5px;
    font-size: 20px;
    background-color: #F5F5F5;
}

@media screen and (max-width: 768px) {
    body {
        width: 95%;
        margin: 0px auto;
        padding: 3px;
        font-size: 20px;
    }
}